/* You can add global styles to this file, and also import other style files */
@import './style/tailwind/index';

:root {
  --color-primary: #ff73b3;       /* 醫美粉色調 */
  --color-background: #fce7f3;
  --color-text: #212121;
  --color-card: #fce7f3;
  --color-border: #f8bbd0;
}

.theme-dark {
  --color-primary: #df686b;       /* 淡粉深紫 */
  --color-background: #f48fb1;
  --color-text: #ffffff;
  --color-card: #3d2a4b;
  --color-border: #584267;
}

.theme-green {
  --color-primary: #86efac;       /* 清新綠 */
  --color-background: #ecfdf5;
  --color-text: #14532d;
  --color-card: #d1fae5;
  --color-border: #a7f3d0;
}

body {
  @apply font-sans;
}

.bulbul-logo-mobile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 8px 0 #0001;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.bulbul-logo-mobile .bulbul-top-mobile {
  position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 20px;
    border-top: 6px solid #222;
    border-radius: 80% 60% 0 0 / 158% 86% 0 0;
    z-index: 2;
}

.bulbul-logo-mobile .bulbul-bottom-mobile {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 30px;
  height: 21px;
  border-bottom: 6px solid #222;
  border-radius: 0 0 91% 67%/0 0 103% 9%;
  z-index: 2;
}

.bulbul-logo-mobile .bulbul-eye-mobile {
  position: absolute;
  left: 25px;
  top: 22px;
  width: 7px;
  height: 7px;
  background: #222;
  border-radius: 50%;
  z-index: 3;
}

.bulbul-logo-mobile .bulbul-beak-mobile {
  position: absolute;
  left: 38px;
  top: 20px;
  width: 9px;
  height: 4.5px;
  background: #222;
  border-radius: 0 76% 76% 0 / 69% 0% 106% 0%;
  transform: rotate(-3deg);
  z-index: 2;
}

.bulbul-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 8px 0 #0001;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.bulbul-logo .bulbul-top {
  position: absolute;
    left: 20px;
    top: 20px;
    width: 38px;
    height: 18px;
    border-top: 6px solid #222;
    border-radius: 80% 60% 0 0 / 158% 86% 0 0;
    z-index: 2;
}

.bulbul-logo .bulbul-bottom {
  position: absolute;
    left: 22px;
    bottom: 24px;
    width: 37px;
    height: 25px;
    border-bottom: 6px solid #222;
    border-radius: 0 0 91% 67% / 0 0 103% 9%;
    z-index: 2;
}

.bulbul-logo .bulbul-eye {
    position: absolute;
    left: 43px;
    top: 34px;
    width: 8px;
    height: 8px;
    background: #222;
    border-radius: 50%;
    z-index: 2;
}

.bulbul-logo .bulbul-beak {
  position: absolute;
    left: 55px;
    top: 31px;
    width: 12px;
    height: 5.5px;
    background: #222;
    border-radius: 0 76% 76% 0 / 69% 0% 106% 0%;
    transform: rotate(-5deg);
    z-index: 2;
}
